
<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-lg-6">
      <h2 class="font-weight-bold">OneSignal Send Push Notification</h2>
      <br>
      <form #myForm="ngForm" (ngSubmit)="enviarNotificacion(myForm)" method="post">
        <div class="form-group">
          <label for="exampleFormControlInput1">Título</label>
          <input type="email" name="titulo" [(ngModel)]="notificacion.mensajetitulo" class="form-control" id="exampleFormControlInput1" placeholder="" ngModel>
        </div>

        <div class="form-group">
          <label for="exampleFormControlTextarea1">Mensaje</label>
          <textarea class="form-control" [(ngModel)]="notificacion.mensaje" name="mensaje" id="exampleFormControlTextarea1" rows="3" ngModel></textarea>
        </div>

        <div class="form-group">
          <label for="image">Ingrese imagen</label>
          <input type="file" name="imagen" class="form-control-file" (change)="onChange2($event)" id="image" ngModel>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="customRadioInline1" name="customRadioInline1" [(ngModel)]="seleccion" [value]="true" (change)="onChange()" class="custom-control-input">
          <label class="custom-control-label" for="customRadioInline1">Enviar a todos</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="customRadioInline2" name="customRadioInline1" [(ngModel)]="seleccion" [value]="false" (change)="onChange()" class="custom-control-input">
          <label class="custom-control-label" for="customRadioInline2">Seleccionar canal</label>
        </div>
        <br><br>

        <div class="form-group" *ngIf="!seleccion">
          <label for="exampleFormControlSelect2">Enviar a:</label>
          <select multiple class="custom-select" [(ngModel)]="notificacion.segment" id="exampleFormControlSelect2" name="canales" (change)="onChange1()" required>
            <option [value]="canal.nombre" *ngFor="let canal of canales">{{canal.nombre}}</option>

          </select>
        </div>
        <button type="submit" class="btn btn-primary">Enviar notificación</button>
      </form>
    </div>
  </div>
</div>




