<div class="container mt-1 mb-5 col-md-12">
  <div class="row">
    <div class="col">
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand font-weight-bold">Firebase Notifications List</a>
        <button type="button" class="btn btn-primary" (click)="crearNotificacion()">Crear Notificación</button>
      </nav>
    </div>
  </div>
  <div class="row">
    <br>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th class="text-center" scope="row">#</th>
        <th class="text-center" scope="row">Título</th>
        <th class="text-center" scope="row">Descripción</th>
        <th class="text-center" scope="row">Categoría</th>
        <th class="text-center" scope="row">Origen</th>
        <th class="text-center" scope="row">Imagen</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let notificacion of notificaciones; let indice = index">
        <th class="text-center" scope="row">{{indice + 1}}</th>
        <td class="text-center">{{notificacion.titulo}}</td>
        <td class="text-center">{{notificacion.descripcion}}</td>
        <td class="text-center">{{notificacion.canal}}</td>
        <td class="text-center">{{notificacion.servicio}}</td>
        <td class="text-center">{{notificacion.image}}</td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
