
<div class="container mt-1 mb-5 col-md-12">
  <div class="row">
    <div class="col">
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand">Firebase Notifications List</a>
        <button type="button" class="btn btn-primary" (click)="crearNotificacion()">Crear Notificación</button>
      </nav>
    </div>
  </div>
  <div class="row">
    <br>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th class="text-center" scope="col">#</th>
        <th class="text-center" scope="col">Título</th>
        <th class="text-center" scope="col">Descripción</th>
        <th class="text-center" scope="col">Categoría</th>
        <th class="text-center" scope="col">Orígen</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th class="text-center" scope="row">1</th>
        <td class="text-center">Notificación1</td>
        <td class="text-center">Hola que tal</td>
        <td class="text-center">Deportes</td>
        <td class="text-center">O</td>

      </tr>
      </tbody>
    </table>

  </div>
</div>
