<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/usuarios" routerLinkActive="active">Users<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" routerLink="/firebase" routerLinkActive="active">Firebase</a>
      <a class="nav-item nav-link" routerLink="/osNotifications" routerLinkActive="active">OneSignal</a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
