<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-lg-6">
      <h2 class="font-weight-bold">Firebase Send Push Notification</h2>
      <br>
      <form (ngSubmit)="enviarNotificacion()" method="post">
        <div class="form-group">
          <label for="exampleFormControlInput1">Título</label>
          <input type="email" name="titulo" [(ngModel)]="notificacion.title" class="form-control" id="exampleFormControlInput1" placeholder="" ngForm>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Mensaje</label>
          <textarea class="form-control" name="mensaje" [(ngModel)]="notificacion.message" id="exampleFormControlTextarea1" rows="3" ngForm></textarea>
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput2">Ingrese URL</label>
          <input type="email" name="imagen" [(ngModel)]="notificacion.image" class="form-control" id="exampleFormControlInput2" placeholder="" ngForm>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="customRadioInline1"  name="customRadioInline1" [(ngModel)]="seleccion" [value]="true"
                 (change)="onChange()" class="custom-control-input">
          <label class="custom-control-label" for="customRadioInline1">Enviar a todos</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="customRadioInline2" name="customRadioInline1" [(ngModel)]="seleccion" [value]="false"
                 (change)="onChange()" class="custom-control-input">
          <label class="custom-control-label" for="customRadioInline2">Seleccionar canal</label>
        </div>
        <br>
        <br>
        <div class="form-group" *ngIf="!seleccion">
          <label class="my-1 mr-3" for="inlineFormCustomSelectPref">Enviar a:</label>
          <select multiple name="canales" [(ngModel)]="notificacion.canal" class="custom-select my-1 mr-sm-2"
                  (ngModelChange)="onChange()" id="inlineFormCustomSelectPref">
            <option value="0" selected>Choose...</option>
            <option [value]="canal.id" *ngFor="let canal of canales">{{canal.nombre}}</option>
          </select>
        </div>
        <br>
        <button type="submit" class="mr-3 btn btn-primary" (click)="enviarNotificacion()">Enviar notificación</button>
        <button type="submit" class="btn btn-primary" (click)="volver()">Cancelar</button>
      </form>
    </div>
  </div>
</div>
